apiVersion: v2
name: powerdns-operator
description: Manage PowerDNS resources with Kubernetes
type: application
version: 0.4.2
appVersion: 0.4.2
kubeVersion: ">= 1.21.0-0"
keywords:
  - powerdns-operator
  - powerdns
  - dns
home: https://powerdns-operator.github.io/PowerDNS-Operator-helm-chart
icon: https://github.com/powerdns-operator/PowerDNS-Operator/blob/main/docs/assets/favicon.png?raw=true
maintainers:
  - name: antrema
  - name: mydoomfr
sources:
  - https://github.com/powerdns-operator/PowerDNS-Operator-helm-chart
annotations:
  artifacthub.io/crds: |
    - kind: ClusterZone
      version: v1alpha2
      name: clusterzone.dns.cav.enablers.ob
      displayName: ClusterZone
      description: |
        A ClusterZone is a portion of the DNS namespace that is managed widely by a specific
        organization.
    - kind: Zone
      version: v1alpha2
      name: zone.dns.cav.enablers.ob
      displayName: Zone
      description: |
        A Zone is a portion of the DNS namespace that is managed in a namespace by a specific
        organization.
    - kind: ClusterRRset
      version: v1alpha2
      name: clusterrrset.dns.cav.enablers.ob
      displayName: ClusterRRset
      description: |
        An ClusterRRset is a collection of records that share the same name and type.
        RRsets can be used to represent a collection of records that are managed
        together.
    - kind: RRset
      version: v1alpha2
      name: rrset.dns.cav.enablers.ob
      displayName: RRset
      description: |
        An RRset is a collection of records that share the same name and type.
        RRsets can be used to represent a collection of records that are managed
        together.
